html,
body{
    position: relative; /*чтобы центрировать футер*/ 
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans", "Arial", serif;
    text-transform: uppercase;
    background-color: #f2f2f2;
    color: black;
   }

.clearfix::after{
    content: "";
    
    display: table;
    clear: both;
}

figure{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

fieldset{
    margin: 0;   
}

.container{
    width: 1200px;
    margin: 0 auto;
    outline: 1px solid green;
    background-color: #ffffff;
}

.main-navigation{
    padding: 0 6%;
}

.main-menu{
    width: 1056px;
}

.main-navigation .index-logo{
    position: absolute;
    z-index: 1000;
    margin-left: 460px;
    padding: 0;
    width: 138px;
    height: 70px;

}



.main-navigation ul{
    margin: 0;
    padding: 0;
    
    list-style: none;
    font-size: 0;
    outline: 1px solid black;
}


.main-navigation li{
    float: left;
    width: 20%;
    font-size: 14px;
    line-height: 26px;
    vertical-align: top;
    outline: 1px solid red;
}


/*

.main-navigation li{
    display: inline-block;
    width: 20%;
    font-size: 14px;
    line-height: 26px;
    vertical-align: top;
    outline: 1px solid red;
    margin-right: 70px;
}

.main-navigation li:last-child{
  margin-right: 0;
}

*/

.main-navigation a{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 17px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.main-menu .menu-right{
    float: right;
    text-align: right;  
}


/*стили для главной*/

.main-banner{
    position: relative;
    width: 1200px;
    height: 509px;
}

.main-banner .main-banner-inscription{
    position: absolute;
    margin-left: 370px;
    margin-top: 76px;
}

.main-banner .main-banner-mask{
    position: absolute;
    margin-top: 452px;
}

.main-preview{
    padding: 0 6%; 
    color: #000000;
    text-align: center;
}

.main-preview-text{
    width: 494px; 
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 54px;
}

.main-reasons{
    background-color: #81b3d2;
    color: #ffffff;
    line-height: 21px;
    text-align: center;
}

.main-reasons .lead{
    color: #ffffff; 
}

.reasons-number{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

.reason-one{
    float: left;
    width: 286px;
    margin-left: 60px;
    padding-top: 54px;
    padding-bottom: 54px;
    outline: 1px solid black;
    background-color: #81b3d2;
    color: #ffffff;
}

.photo-content-one{
    float: right;
    width: 800px;
    height: 256px;
    overflow: hidden; /*размер картинки больше, чем отображаемая область, поэтому прячем лишнее*/
}

.main-advices{
    padding: 0 6%;
}

.advice-item{
    position: relative;
    float: left;
    width: 330px; 
    margin-right: 33px;
    text-align: center;
    padding-top: 165px;
    padding-bottom: 83px;
    outline: 1px solid black;
    
}

.advice-item:last-child{
  margin-right: 0;
}

.main-advices .advice-house::before{
    position: absolute;
    content: "";    
    background: #ffffff url("../img/spritesheet.png") no-repeat;
    top: 60px;
    left: 127px;
    width: 75px;
    height: 72px;
    background-position: -348px -10px;
}

.main-advices .advice-food::before{
    position: absolute;
    content: "";    
    background: #ffffff url("../img/spritesheet.png") no-repeat;
    top: 60px;
    left: 128px;
    width: 74px;
    height: 70px;
    background-position: -170px -10px;
}

.main-advices .advice-gift::before{
    position: absolute;
    content: "";    
    background: #ffffff url("../img/spritesheet.png") no-repeat;
    top: 57px;
    left: 133px;
    width: 64px;
    height: 76px;
    background-position: -264px -10px;
}

.photo-content-two{
    float: left;
    width: 800px;
    height: 256px;
    overflow: hidden;/*размер картинки больше, чем отображаемая область, поэтому прячем лишнее*/
}

 .reason-two{
    float: right;
    width: 310px;
    margin-right: 48px;
    padding-top: 55px;
    padding-bottom: 54px;
    outline: 1px solid black;
    background-color: #81b3d2;
    color: #ffffff;
}

.group{
    padding: 0 6%;
    background-color: #eeeeee;
    color: #000000;
}

.reason-item{
    float: left;
    width: 290px;
    margin-right: 93px;
    text-align: center;
    padding-top: 46px;
    padding-bottom: 60px;
    outline: 1px solid black;
    
}

.reason-item:last-child{
    margin-right: 0;
}

.reason-item .lead{
    color: #000000;
}

.main-searching-hotels{
    width: 568px; 
    padding-top: 54px;
    margin: 0 auto;
    text-align: center;
}

.main-searching-hotels .title-form-searching{
    display: block;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    
}

.main-searching-hotels p{
    margin-top: 30px;
    margin-bottom: 45px;
}

.main-searching-hotels .btn-form-searching{
    display: block;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    background-color: #766357;
    text-decoration: none;
    padding-top: 33px;
    padding-bottom: 33px;   
}












.form-searching-hotels{
    position: absolute;
    width: 568px; 
    margin-left: 316px;
    padding-top: 54px;
    padding-bottom: 54px;
    background-color: #ffffff;
    font-weight: bold;
}


.form-searching-hotels label{
    display: block;
    margin-left: 55px;
    margin-bottom: 30px;
}

.form-searching-hotels input[type="text"]{
    min-width: 305px;
    min-height: 38px;
    background-color: #f2f2f2;
    border: none;
    padding-left: 13px;
    padding-right: 30px;    
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", serif;
    text-transform: uppercase;
    
}

.text-block{
    display: inline-block;
    vertical-align: top;
}

.field-block-arrive{
    display: inline-block;
    vertical-align: top;
    margin-left: 21px;
    margin-top: 7px;
}

.field-block-item{
    display: inline-block;
    position: relative;
}

.field-block-item::before{
   position: absolute;
    content: "";    
    background: #f2f2f2 url("../img/spritesheet.png") no-repeat;
    top: 16px;
    left: 333px;
    width: 21px;
    height: 22px;
    background-position: -10px -10px; 
}

.field-block-depart{
    display: inline-block;
    vertical-align: top; 
    margin-left: 18px;
    margin-top: 7px;
}








.counts-all{
    margin-left: 55px;
    margin-bottom: 55px;
    margin-top: 30px;
}


.text-block-adults{
    float: left;
    margin-right: 39px;
}


.counts-block-adults{
    float: left;
    margin-right: 52px;
    margin-top: 8px;
    min-width: 114px;
    min-height: 38px;
    background-color: #f2f2f2;
}

.text-block-children{
    float: left;
    vertical-align: middle;
    
}

.counts-block-children{
    float: right;
    margin-right: 55px;
    margin-top: 8px;
    min-width: 114px;
    min-height: 38px;
    background-color: #f2f2f2;
}


.counts{
    font-size: 24px;
    line-height: 40px;
    color: #a9a9a9;
    font-weight: bold;
    margin: 15px;
}

.counts-number{
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}


.btn-searching-hotels{
    display: block;
    width: 458px;
    margin: 0 auto;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #81b3d2;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 19px;
    text-align: center;
    border: none;
}












.main-google-map{
    width: 1200px;
    height: 593px;
    background: #ffffff url("../img/map.jpg") no-repeat;
}








/*стили для hotels*/

.choice-of-hotel{
    position: relative;
    width: 1200px;
    min-height: 218px;
}

.filter-background-photo{
    position: absolute;
    z-index: 10;
    width: 1200px;
    height: 218px;
    
    background: #ffffff url("../img/filter-background-photo.jpg") no-repeat;
}

.filters{
    position: absolute;
    z-index: 100;
    margin: 0 6%;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: normal;
    
}

.filters .parameter{
    font-size: 16px;
    font-weight: bold;
}

.filters fieldset{
    border: none;
}


.filters ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


.filters li{
    margin-bottom: 23px;

}


.choice-of-hotel-checkbox input[type="checkbox"]{
  display: none;
}

.choice-of-hotel-checkbox{
    position: relative;
    padding-left: 40px;
    
    cursor: pointer;
}





.choice-of-hotel-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    left: 0;

    width: 17px;
    height: 17px;

    border: 2px solid #ffffff;
    border-radius: 4px;
    opacity: 0.8;
}

/*
.choice-of-hotel-checkbox input[type="checkbox"]:checked + .checkbox-indicator{
    display: none;
} /*нужно, чтобы при включенном чекбоксе не отображался span (белая рамка) и на его месте появлялся псевдоэлемент*/

.choice-of-hotel-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;

    width: 26px;
    height: 22px;

    background: url("../img/spritesheet.png") no-repeat;
    background-position: -93px -10px; 
}




.filter-type-infrastructure{
    display: inline-block;
    width: 190px;
    padding-top: 27px;
    padding-bottom: 27px;
    vertical-align: top;
    margin-top: 27px;
    }

.filter-type-housing{
    display: inline-block;
    width: 190px; 
    margin-left: 50px;
    padding-top: 27px;
    padding-bottom: 27px;
    vertical-align: top;
    margin-top: 27px;
}

.filter-type-price{
    display: inline-block;
    width: 330px;  
    margin-left: 215px;
    padding-bottom: 27px;
    vertical-align: top;
    margin-top: 27px;
}














.range-title{
    margin-bottom: 12px;
}

.price-controls {
    position: relative;
    
    height: 36px;
    margin-bottom: 20px;
    
    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
}

.btn-show-hotels{
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}   








.border-bottom{
    border-bottom: 2px solid #e5e5e5;
}

.sorting{
    margin: 0 6%; 
    outline: 1px solid green;
}

.sorting-result{
    display: inline-block;
    margin-top: 4px;
    width: 128px;
    padding-top: 29px;
    padding-bottom: 32px;
    vertical-align: top;
    outline: 1px solid red;
    
    font-size: 21px;
    color: #000000;
    font-weight: bold;
}

.sorting-texts{
    width: 372px;
    display: inline-block;
    vertical-align: top;
    outline: 1px solid black;
}


.sorting-name{
    display: inline-block;
    margin-left: 29px;
    padding-top: 38px;
    padding-bottom: 34px;
    vertical-align: top;
    outline: 1px solid red;
    
    font-size: 12px;
    line-height: 18px;
}

.sorting-price{
    display: inline-block;
    margin-left: 35px;
    padding-top: 38px;
    padding-bottom: 34px;
    vertical-align: top;
    outline: 1px solid red;
    
    font-size: 12px;
    line-height: 18px;
}

.sorting-type{
    display: inline-block;
    margin-left: 20px;
    padding-top: 38px;
    padding-bottom: 34px;
    vertical-align: top;
    outline: 1px solid red;
    
    font-size: 12px;
    line-height: 18px;
}


.sorting-rating{
    display: inline-block;
    margin-left: 20px;
    padding-top: 38px;
    padding-bottom: 34px;
    vertical-align: top;
    outline: 1px solid red;
    
    font-size: 12px;
    line-height: 18px;
}


.sorting-texts a{
    color: #b1b1b1;
    text-decoration: underline dashed #81b3d2;
}






.icons-up-down{
    display: inline-block;
    width: 26px;
    margin-left: 522px;  
    vertical-align: top;
}


.icon-up{
    display: inline-block;
    vertical-align: top;
    padding-top: 42px; 
    padding-bottom: 34px;
}


.icon-down{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    padding-top: 42px; 
    padding-bottom: 34px;   
}













.hotel-item{
    margin: 0 6%;
}

.photo-content{
    float: left;
    width: 135px;
    height: 90px;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-top: 3px;
    outline: 1px solid red;
}

.hotel-info{
    float: left;
    width: 300px;
    margin-left: 25px;
    padding-top: 8px;
    padding-bottom: 27px;
    outline: 1px solid blue;
}

.hotel-info a{
    text-decoration: none;
    color: #000000;
}

.hotel-info .hotel-title{
    margin-bottom: 10px;
}

.hotel-block-left{
    display: inline-block;
    vertical-align: top;
}

.hotel-block-right{
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
}

.hotels-texts{
    line-height: 21px;
    color: #333333;
}

.hotels-price{
    line-height: 21px;
    color: #333333;
}

.hotel-info .btn-card-hotel{
    display: block;
    margin-top: 10px;
    min-width: 110px;
    min-height: 27px;
    background-color: #81b3d2;
    
    line-height: 27px;
    color: #ffffff;
    font-weight: bold;
    
    text-align: center;
    vertical-align: middle;
}

.hotel-info .btn-book-hotel{
    display: block;
    margin-top: 10px;
    min-width: 142px;
    min-height: 27px;
    background-color: #766357;
    
    line-height: 27px;
    color: #ffffff;
    font-weight: bold;
    
    text-align: center;
    vertical-align: middle;  
}




.rating{
    float: right;
    min-width: 110px;
    margin-left: 350px;
    padding-top: 30px;
    padding-bottom: 27px;
    outline: 1px solid black;
}


.rating .rating-stars{
    position: relative;
    display: block;
    min-width: 110px;
    min-height: 27px;
    margin-bottom: 35px;
    outline: 1px solid green;
    
}

.rating-stars::before{
    position: absolute;
    content: "";    
    background: #ffffff url("../img/spritesheet.png");
    
    top: 4px;
    left: 90px;
    
    width: 18px;
    height: 17px;
    background-position: -443px -10px;
    background-repeat: repeat-x;
    
}

.rating .rating-count{
    display: block;
    min-width: 110px;
    min-height: 27px;
    background-color: #f2f2f2;

    line-height: 27px;
    color: #333333;
    font-weight: normal;
    
    text-align: center;
    vertical-align: middle;
}




/*стили для footer*/

.main-footer{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    }

.main-footer .container{
    padding: 0 6%;
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
    background-color: #ffffff;
    opacity: 0.9;
    } 

.footer-hash-tag{
    float: left;
    width: 240px;
    margin-right: 88px;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.footer-hash-tag a{
    color: #000000;
   text-decoration: none; 
}

.footer-social{
    float: left;
    width: 400px;
    text-align: center;
}

.footer-copyright{
    float: right;
    width: 240px;
}

.footer-copyright .html-academy-logo{
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
}

.footer-copyright .text-footer-copyright{
    display: inline-block; 
    vertical-align: top;
    vertical-align: top;
    margin-top: 7px;
    margin-left: 30px;
}

.footer-social .social-btn{
    display: inline-block; 
    vertical-align: top;
    width: 46px;
    height: 48px;
    font-size: 0;
    margin-right: 2px;
    background: #81b3d2;
    position: relative;
}

.social-btn::before{
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
}

.footer-social .social-btn-twitter::before{
    width: 17px;
    height: 15px;
    background-position: -542px -10px;
}

.footer-social .social-btn-facebook::before{
    width: 10px;
    height: 19px;
    background-position: -512px -10px;
}

.footer-social .social-btn-youtube::before{
    width: 20px;
    height: 16px;
    background-position: -579px -10px;
}

/*Стили текста*/

h2{
    font-size: 21px;
    line-height: 26px;
    color: black;
    font-weight: bold;
    font-family: "PT Sans", "Arial", serif;
    text-transform: uppercase;
}

.lead{
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: black;
    font-weight: bold;
    font-family: "PT Sans", "Arial", serif;
    text-transform: uppercase;
}

/*спрайт*/

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-checkbox {
    width: 22px;
    height: 22px;
    background-position: -51px -10px;
}

.sprite-checkbox-checked {
    width: 26px;
    height: 22px;
    background-position: -93px -10px;
}

.sprite-down {
    width: 11px;
    height: 10px;
    background-position: -139px -10px;
}

.sprite-icon-food {
    width: 74px;
    height: 70px;
    background-position: -170px -10px;
}

.sprite-icon-gift {
    width: 64px;
    height: 76px;
    background-position: -264px -10px;
}

.sprite-icon-house {
    width: 75px;
    height: 72px;
    background-position: -348px -10px;
}

.sprite-icon-star {
    width: 18px;
    height: 17px;
    background-position: -443px -10px;
}

.sprite-mask-1 {
    width: 1200px;
    height: 57px;
    background-position: -10px -106px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -481px -10px;
}

.sprite-social-btn-facebook {
    width: 10px;
    height: 19px;
    background-position: -512px -10px;
}

.sprite-social-btn-twitter {
    width: 17px;
    height: 15px;
    background-position: -542px -10px;
}

.sprite-social-btn-youtube {
    width: 20px;
    height: 16px;
    background-position: -579px -10px;
}

.sprite-up {
    width: 11px;
    height: 10px;
    background-position: -619px -10px;
}

