body{
    font-size:14px;
    line-height:26px;
    color:#333333;
    font-weight:normal;
    font-family: "PT Sans", "Arial", serif;
    text-transform: uppercase;
}

h2{
    font-size:21px;
    line-height:26px;
    color:black;
    font-weight:bold;
    font-family: "PT Sans", "Arial", serif;
    text-transform: uppercase;
}

.lead{
    font-size:21px;
    line-height:26px;
    color:black;
    font-weight:bold;
    font-family: "PT Sans", "Arial", serif;
    text-transform: uppercase;
}

