html,
body{
    min-width: 1280px;
    min-height: 2762;
    margin: 0;
    padding: 0;
    background-color:bisque;
}

.clearfix::after{
    content: "";
    
    display: table;
    clear: both;
}

.main-header{
    background-color: aquamarine;  
}

.container{
    width: 1200px;
    margin: 0 auto;
    background-color: darkslateblue;
}


/*с учетом отступов padding 6% справа и слева (как в спецификации) контент не помещается в блоках. Как его впихнуть? если измерять макет, там не предусмотрены такие отступы: ширина фотографий например больше чем надо*/

.main-navigation{
    width: 1056px;
    min-height: 56px;
    margin: 0 auto;
    padding: 0 72px;
    background-color: aliceblue;
}

/*как сделать, чтобы элементы шли "впритирку" друг к другу, без отступов?*/

.main-banner{
    width: 1056px;
    min-height: 509;
    margin: 0 auto;
    padding: 0 72px;
    background-color: darkolivegreen;
}

/*почему элементы класса main-banner вылезают за пределы контейнера, хотя должны встать по центру? и как их наложить друг на друга?*/


.main-preview-text{
    width: 1056px; 
    min-height: 217px;
    margin: 0 auto;
    padding: 0 72px;
    background-color: white;
}
/*если элемент на строке один, как .main-preview-text, например, ему надо задавать float? */

.main-reasons {
    width: 1056px; 
    margin: 0 auto;
    padding: 0 72px;
    min-height: 256px;
    background-color: red;  
}

.main-reasons .reason-one{
    float: left;
    width: 256px;
    height: 256px; 
}

.main-reasons .photo-content-one{
    float: right;
    width: 800px;
    height: 256px;
}

.main-advices{
    width: 1056px;
    margin: 0 auto;
    padding: 0 72px;
    margin-bottom: 10 px;
    background-color: white; 
}

.advice-item{
    float: left;
    width: 330px;
    min-height: 330px;
    margin-right: 30px;
    background-color:blue;
}

.advice-item:last-child {
  margin-right: 0;
}

.main-reasons .reason-two{
    float: right;
    width: 256px;
    height: 256px; 
}

.main-reasons .photo-content-two{
    float: left;
    width: 800px;
    height: 256px;
}

.group{
    width: 1056px;
    margin: 0 auto;
    padding: 0 72px;
    margin-bottom: 10 px;
    background-color: white; 
}

.reason-item{
    float: left;
    width: 325px;
    min-height: 256px;
    margin-right: 25px;
    background-color:blue;
}

.advice-item:last-child {
    margin-right: 0;
}

.main-searching-hotels{
    width: 1056px; 
    min-height: 292px;
    margin: 0 auto;
    padding: 0 72px;
    background-color:darkkhaki;
}
/*почему между этими двумя блоками появился отступ? я его не задавала*/

.form-searching-hotels{
    width: 574px; 
    min-height: 395px;
    margin: 0 auto;
    background-color: firebrick;
}

.google-map{
    width: 1056px; 
    min-height: 593px;
    margin: 0 auto;
    padding: 0 72px;
}
/*В макете футер накладывается сверху на карту. Как это сделать?*/

.main-footer {
    padding-top: 33px;
    padding-bottom: 33px;
    background-color: darkgrey;
}

.footer-hash-tag {
    float: left;
    width: 240px;
    margin-right: 88px;
    margin-left: 73px;
    min-height: 90px;
    background-color: white;
}

.footer-social {
    float: left;
    width: 400px;
    margin-right: 88px;
    min-height: 90px;
    background-color: white;
}

.footer-copyright {
    float: right;
    width: 240px;
    margin-right: 73px;
    min-height: 90px;
    background-color: white;
}

